{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Products</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Tag</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.tag }}</td>
                <td>${{ product.price }}</td>
                <td>
                    <img src="{{ url_for('static', filename=product.image_path) }}" alt="{{ product.name }}"
                        class="img-fluid rounded" style="max-width: 100px;">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}